{% load staticfiles %}
<header>
    <div class="row">
        <div class="col-7">
            <a id="logo_link" href="/">
                <img src="{% static 'images/logo.png' %}" alt="" class="main_logo">
            </a>
            <div class="logo_description">Применение компьютерного зрения для <br> определения болезней легких</div>
        </div>
        <div class="col-5 menu">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link menu_link active" href="#">Главная <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link menu_link" href="#">Методы</a>
                        <a class="nav-item nav-link menu_link" href="#">Описание</a>
                        <a class="nav-item nav-link menu_link" href="#">Информация</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>